@import "../../scss/variables.scss";

img {
  @include outline-picture;
  width: 80vw;
}

.width {
  height: 20vw;
  margin: $normal-margin 0;
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
  img {
    max-width: 650px;
  }
  .width {
    height: 160px;
  }
}
// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
  img {
    max-width: 800px;
  }
}

// Ordinateurs portables vers ordinateurs de bureau :
@media screen and (min-width: 1400px) {
  img {
    max-width: 1000px;
  }
}